img{
  width: 240px !important;
}

@media only screen and (max-width: 400px) {
  .container-cards {
    display: flex;
    justify-content: center !important;
  }
  .container-btns{
    flex-direction: column !important;
  }
  .btn-danger{
    margin-top: 10px;
  }
  h1{
    text-align: center;
  }
}
